[Unit]
Description = ebpf filesystem latency monitor
Requires = nersc-ebpf-streamer.service
After = nersc-ebpf-streamer.service
PartOf = nersc-ebpf-streamer.service

[Service]
Type = simple
Environment="PREFIXES=/global/u1 /global/u2 /global/cfs /pscratch /mscratch /ascratch"
Environment="NUM_PROBES=4"
ExecStart = /usr/sbin/nerscfslat
ExecStartPost=bash -c "until [[ $(bpftool map|grep WRITESTATS|wc -l) -eq $NUM_PROBES ]];do :;done"
ExecStartPost = /usr/local/sbin/nerscfslat_load_prefixes.sh

[Install]
WantedBy = nersc-ready.target
